# Copiez ce fichier en ".env" et adaptez les valeurs à votre environnement

# Port d'écoute du serveur HTTP/WebSocket
PORT=4000

# Connexion à votre base PostgreSQL
PGHOST=localhost
PGPORT=5432
PGDATABASE=ciphertalk
PGUSER=postgres
PGPASSWORD=perovc

# Clé secrète utilisée pour signer les tokens JWT (mettez une longue chaîne aléatoire en production)
JWT_SECRET=f9a48bb515261efdd7b1bbf19ca7198ceca875a38c57c6450704abd991239efe2
JWT_EXPIRES_IN=1y

# Valeurs par défaut de la clé du chiffrement affine pour les nouvelles conversations
DEFAULT_CIPHER_A=7
DEFAULT_CIPHER_B=3
